%-------------------------
% Resume in Latex
% Author : Jake
% License : MIT
%------------------------

\documentclass[letterpaper,11pt]{article}

\usepackage{latexsym}
\usepackage[empty]{fullpage}
\usepackage{titlesec}
\usepackage{marvosym}
\usepackage[usenames,dvipsnames]{color}
\usepackage{verbatim}
\usepackage{enumitem}
\usepackage[hidelinks]{hyperref}
\usepackage{fancyhdr}
\usepackage[english]{babel}
\usepackage{tabularx}
\input{glyphtounicode}


%----------FONT OPTIONS----------
% sans-serif
% \usepackage[sfdefault]{FiraSans}
% \usepackage[sfdefault]{roboto}
% \usepackage[sfdefault]{noto-sans}
% \usepackage[default]{sourcesanspro}

% serif
% \usepackage{CormorantGaramond}
% \usepackage{charter}


\pagestyle{fancy}
\fancyhf{} % clear all header and footer fields
\fancyfoot{}
\renewcommand{\headrulewidth}{0pt}
\renewcommand{\footrulewidth}{0pt}

% Adjust margins
\addtolength{\oddsidemargin}{-0.5in}
\addtolength{\evensidemargin}{-0.5in}
\addtolength{\textwidth}{1in}
\addtolength{\topmargin}{-.5in}
\addtolength{\textheight}{1.0in}

\urlstyle{same}

\raggedbottom
\raggedright
\setlength{\tabcolsep}{0in}

% Sections formatting
\titleformat{\section}{
  \vspace{-4pt}\scshape\raggedright\large
}{}{0em}{}[\color{black}\titlerule \vspace{-5pt}]

% Ensure that generate pdf is machine readable/ATS parsable
\pdfgentounicode=1

%-------------------------
% Custom commands
\newcommand{\resumeItem}[1]{
  \item\small{
    {#1 \vspace{-2pt}}
  }
}

\newcommand{\resumeSubheading}[4]{
  \vspace{-2pt}\item
    \begin{tabular*}{0.97\textwidth}[t]{l@{\extracolsep{\fill}}r}
      \textbf{#1} & #2 \\
      \textit{\small#3} & \textit{\small #4} \\
    \end{tabular*}\vspace{-7pt}
}

\newcommand{\resumeSubSubheading}[2]{
    \item
    \begin{tabular*}{0.97\textwidth}{l@{\extracolsep{\fill}}r}
      \textit{\small#1} & \textit{\small #2} \\
    \end{tabular*}\vspace{-7pt}
}

\newcommand{\resumeProjectHeading}[2]{
    \item
    \begin{tabular*}{0.97\textwidth}{l@{\extracolsep{\fill}}r}
      \small#1 & #2 \\
    \end{tabular*}\vspace{-7pt}
}

\newcommand{\resumeSubItem}[1]{\resumeItem{#1}\vspace{-4pt}}

\renewcommand\labelitemii{$\vcenter{\hbox{\tiny$\bullet$}}$}

\newcommand{\resumeSubHeadingListStart}{\begin{itemize}[leftmargin=0.15in, label={}]}
\newcommand{\resumeSubHeadingListEnd}{\end{itemize}}
\newcommand{\resumeItemListStart}{\begin{itemize}}
\newcommand{\resumeItemListEnd}{\end{itemize}\vspace{-5pt}}

%-------------------------------------------
% -----  RESUME STARTS HERE  ----------------------------


\begin{document}

%----------HEADING----------
% \begin{tabular*}{\textwidth}{l@{\extracolsep{\fill}}r}
%   \textbf{\Large (( fullname ))} & $(( phone ))$ \\
%   \href{(( linkedin ))}{(( linkedin ))} &  \href{mailto:(( email ))}{(( email ))} \\
%   \href{(( github ))}{(( github ))} & (( address )) \\
% \end{tabular*}

% \begin{tabular*}{\textwidth}{l@{\extracolsep{\fill}}r}
%   \textbf{\Large (( fullname ))} & LikedIn: \href{https://(( linkedin ))}{(( linkedin ))}\\
%   $(( phone ))$, \href{mailto:(( email ))}{(( email ))} & GitHub: \href{https://(( github ))}{(( github ))} \\
%   (( address ))\\
% \end{tabular*}

%\begin{center}
    \textbf{\Huge \scshape (( fullname ))} \\ \vspace{6pt} 
    \textbf{\Large \scshape (( position ))} \\ \vspace{4pt} 
    \small $(( phone ))$ $\cdot$ \href{mailto:(( email ))}{(( email ))} $\cdot$ (( address )) \\
    \href{(( linkedin ))}{(( linkedin ))} $\cdot$ \href{(( github ))}{(( github ))}   
%\end{center}


%-----------SUMMARY-----------
\section{Summary}
{(( summary ))}


%-----------EXPERIENCE-----------
\section{Experience}
  \resumeSubHeadingListStart
    ((* for job in experience *))
    \vspace{2pt} \resumeSubheading
      {(( job.company ))}{(( job.timespan ))}
      {\textbf{(( job.position ))}}{(( job.address ))} 
      ((* if job.projects *))
        \vspace{2pt} 
        ((* for project in job.projects *))
          \resumeSubSubheading
          {(( project.name ))}{(( project.timespan ))}
          \resumeItemListStart
            ((* for item in project.description *))
            \resumeItem{(( item ))}
            ((* endfor *))
          \resumeItemListEnd
        ((* endfor *))
      ((* else *))
        \resumeItemListStart
          ((* for item in job.description *))
          \resumeItem{(( item ))}
          ((* endfor *))
        \resumeItemListEnd
      ((* endif *))
    ((* endfor *))
  \resumeSubHeadingListEnd

%
%-----------PROGRAMMING SKILLS-----------
\section{Technical Skills}
  \begin{itemize}[leftmargin=0.15in, label={}]
    \small{\item{
      ((* for skill in skills *))
        \textbf{(( skill.key )):} {(( skill.value ))} \\
      ((* endfor *))
    }}
  \end{itemize}

%-----------LANGUAGES-----------
\section{Languages}
  \begin{itemize}[leftmargin=0.15in, label={}]
    \small{\item{
      ((* for lang in languages *))
        \textbf{(( lang.name ))} -- {(( lang.description ))} \\
      ((* endfor *))
    }}
  \end{itemize}
 
\section{Education}
  \resumeSubHeadingListStart
    \resumeSubheading
      {(( education.university ))}{(( education.address ))}
      {(( education.faculty ))}{(( education.timespan ))}
      \resumeItemListStart
        ((* for item in education.fields_of_study *))
        \resumeItem{(( item ))}
        ((* endfor *))
      \resumeItemListEnd
  \resumeSubHeadingListEnd
  
%-----------HOBBIES-----------
\section{Hobbies}
{(( hobbies ))}

%-------------------------------------------
\end{document}